.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;
  transform: translate(-50%, -50%);

  background-color: $primary-white-color;

  &-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  &-form {
    display: flex;
    flex-direction: column;
  }
  &-label {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    color: #757575;
  }
  &-label-policy {
    font-size: 14px;
    line-height: 1.71px;

    color: #757575;
  }
  &-input {
    position: relative;
  }
  &-field {
    outline: none;
    padding-left: 40px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  &-field:focus,
  &-textarea:focus {
    border-color: $accent-color;
  }
  &-field:focus + &-svg,
  &-svg:focus {
    fill: $accent-color;
  }
  &-textarea {
    outline: none;
    padding: 12px 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
  }
  &-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &-svg {
    position: absolute;
    height: 18px;
    width: 18px;

    top: 11px;
    left: 12px;
  }

  &-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  &-policy-submit {
    margin-right: 8px;
  }
  &-link {
    color: $accent-color;
  }
}
