.social-icons {
  display: flex;
  justify-content: center;

  &-item:not(:last-child) {
    margin-right: 10px;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: $primary-white-color;
    border-radius: 50%;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }

  &-link:hover &-svg,
  &-link:focus &-svg {
    fill: white;
  }

  &-link:hover,
  &-link:focus {
    background-color: #2196f3;
  }

  &-svg {
    width: 20px;
    height: 20px;
    fill: $icon;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
  }

  .footer-social & {
    justify-content: start;
  }

  .footer-social &-svg {
    fill: $primary-white-color;
  }
}
